body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #0f172a, #111827);
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.cabecalho {
  width: 360px;
  box-sizing: border-box;

  background: rgba(26, 25, 25, 0.95);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 255, 100, 0.08);

  text-align: center;
  padding: 20px;

  transition: 0.4s ease;
}

.cabecalho:hover {
  transform: translateY(-5px);
}

.content .perfil {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #22c55e;
}

.content h1 {
  margin: 12px 0 5px;
  font-size: 28px;
  color: #fff;
}

.content h2 {
  margin: 0 0 10px;
  font-size: 17px;
  color: #22c55e;
}

.content p {
  color: #cbd5e1;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.links {
  width: 100%;
}

.links a {
  width: 100%;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  background: #111827;
  color: #fff;

  border: 1px solid rgba(34, 197, 94, 0.2);
  border-radius: 10px;

  margin-top: 8px;

  font-size: 14px;
  transition: 0.3s;
}

.links a:hover {
  background: #22c55e;
  color: #0f172a;
}

.footer-hero {
  margin-top: 15px;
}

.footer-hero .txt {
  color: #22c55e;
  font-size: 13px;
}

@media (max-width: 437px) {
  .cabecalho {
    width: 100%;
  }
}